<center>
<h1>Our Writers</h1>
<p>Many thanks to all who have added event and shared their memories. To contribute yours, go to our <%= link_to 'Events', events_path %> page.</p>

  <% if !@users.empty? %>
    <p><em>(* Indicates site admin.)</em></p>
    <table>
        <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= link_to u.username, user_path(u) %><% if u.admin %> *<% end %></td>
          <td><%= link_to "View Memories", user_memories_path(u), class: "btn btn-outline-dark btn-sm" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</center>
