<h2><%= @user.username %><% if @user.admin? %> [admin]<% end%></h2>
<p><strong>Bio: </strong><%= @user.bio %></p>

<% if current_user && current_user.id == @user.id%>
  <%= link_to 'Edit Your Account', edit_user_registration_path, method: :get %>
<% end %><br>

<%= link_to 'See Memories', user_memories_path(@user) %>
