<h1>Events#index</h1>
<form action="/users/<% current_user.id %>/events/new">
  <button type=submit">Add Event</button>
</form>

<p><% @events.each do |e|%></p>
  <tr>
    <td><a href="/events/<%= e.id %>"<%= e.name %></td>>
  </tr>
<% end %>
