<h1>About</h1>
<p><em>I Remember When</em> promotes understanding across people, generations, and cultures by being a place to read and share personal narratives set against the backdrop of history.</p>

<p>Please remember when reading or writing that each person's experience is their own. Content deemed defamatory by be removed by the administrators.</p>

<p>The site is built with Ruby on Rails as an open-source software project. Coders are encouraged to get involved via <a href="https://github.com/ronsala/i-remember-when">Github</a>.</p>