// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-end;
  background-color: transparentize($color: tan, $amount: .8);
}

h1, h2, h3 {
  font-family: serif;
}

img {
  max-width: 100%;
  border: 3px solid black;
}

p {
  font-family: serif;
}
