// Google fonts
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-end;
  background-color: transparentize($color: tan, $amount: .8);
}

h1, h3 {
  font-family: 'Old Standard TT', serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 55%;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: sans-serif;
}
