// Google fonts
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

* {
  border-radius: 0 !important;
}

.actions {
  margin-bottom: 1rem;
}

.alert-warning {
  background-color: yellow;
}

.btn {
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: self-position;
  align-content: flex-start;
  background-color: transparentize($color: tan, $amount: .8);
}

.field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav {
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-family: 'Old Standard TT', serif;
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

h1, h3 {
  font-family: 'Old Standard TT', serif;
}

img {
  max-width: 50%;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: separate;
  border-spacing: 35px .5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  max-width: 100%;
}

p {
  font-family: sans-serif;
  font-size: 95%;
}
