// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-end;
  background-color: lightgray;
}
